// global colors
$black: #181717;
$white: #FFFFFF;

// site config
$site-background-color: rgb(20, 236, 236);
$header-background-color: $white;
$footer-background-color: $black;

// cards
$alive-status: rgb(85, 204, 68);
$dead-status: rgb(214, 61, 46);
$card-label: rgb(158, 158, 158);
