// imports
@import '~bootstrap';
@import 'global/reset';
@import 'global/variables';
@import 'global/utils';
@import 'global/colors';
@import 'global/typography';
@import 'layout/header';
@import 'layout/footer';
@import 'components/cards';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $site-background-color;
  @include roboto;
}

#main {
  padding: 130px 0 50px;
  min-height: 100vh;
}
