// imports
@import '~bootstrap';
@import 'global/reset';
@import 'global/utils';
@import 'global/colors';
@import 'global/typography';
@import 'layout/header';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $site-background-color;
  @include roboto;
}

#main {
  padding: 50px 0;
}
